*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

.venv*/
*.env
*.zip/
__pycache__/
*infra/

src/punkt/tokenizers/punkt.zip
src/punkt

*.txt
*.csv
*.zip
*.pdf